[submodule "external/ctm"]
	path = external/ctm
	url = https://github.com/your-org/ctm.git

[submodule "external/ctm"]
	path = external/ctm
	url = https://github.com/SakanaAI/continuous-thought-machines.git